<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-2xl"></i>
                <i class="fa-solid fa-envelope fa-lg" style="color: White"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.medium_username %}
          <li class="list-inline-item">
            <a href="https://medium.com/@{{ site.medium_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-2xl"></i>
                <i class="fa-brands fa-medium fa-lg" style="color: White"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-2xl"></i>
                <i class="fa-brands fa-facebook-f fa-lg" style="color: White" ></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-2xl"></i>
                <i class="fa-brands fa-linkedin  fa-lg" style="color: White"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-2xl"></i>
                <i class="fa-brands fa-github fa-lg" style="color: White"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li class="list-inline-item">
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-2xl"></i>
                <i class="fa-brands fa-instagram fa-lg" style="color: White"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.bluesky_username %}
          <li class="list-inline-item">
            <a href="https://bsky.app/profile/{{ site.bluesky_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-2xl"></i>
                <i class="fa-brands fa-bluesky fa-lg" style="color: White"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.kaggle_username %}
          <li class="list-inline-item">
            <a href="https://www.kaggle.com/{{ site.kaggle_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-2xl"></i>
                <i class="fa-brands fa-kaggle fa-lg" style="color: White"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.telegram_username %}
          <li class="list-inline-item">
            <a href="https://telegram.me/{{ site.telegram_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-2xl"></i>
                <i class="fa-brands fa-telegram fa-lg" style="color: White"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
